@model TLViewModel

@{
    ViewBag.Title = "Add Trip - Page 3";
    ViewBag.SubHeader = "Add Things To Do In " + Model.Trip.Dest;
}

<form asp-action="Add">
    <input type="hidden" asp-for="Page" />

    <div class="row form-group">
        <input asp-for="Trip.ToDo1" class="form-control" />
    </div>
    <div class="row form-group">
        <input asp-for="Trip.ToDo2" class="form-control" />
    </div>
    <div class="row form-group">
        <input asp-for="Trip.ToDo3" class="form-control" />
    </div>

    <div>
        <button type="submit" class="btn btn-dark">Save</button>
        <a asp-action="Clear" class="btn btn-outline-dark">Cancel</a>
    </div>
</form>