@{ 
    ViewBag.Title = "Confirmation";
}

<a asp-action="Index" asp-controller="Home" class="list-group-item">Home</a>
<a asp-action="Add" asp-controller="Trip" class="list-group-item">Trip page</a>
<a asp-action="Index" asp-controller="Manage" class="list-group-item">Manage Page</a>